:root {
  --clr-primary-moderate-violet: hsl(263, 55%, 52%);
  --clr-primary-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-primary-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --crl-primary-white: hsl(0, 0%, 100%);

  --clr-neutral-light-gray: hsl(0, 0%, 81%);
  --clr-neutral-light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

#page-wrap {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: var(--clr-neutral-light-grayish-blue);
  font-size: calc(13rem / 16);
}

/* ============
  Layout Page
===============*/

  .container {
    width: min(100%, 90%);
    margin: calc(70rem / 16) auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }

  /* General Cards */
  .card {
    padding: 1rem 2rem 2rem 2rem;

    border-radius: .5rem;
  }

    @media (max-width: 1000px) {
    .container {
      display: block;
    }

    .card {
      margin-top: 2rem;
    }
  }

/* ============
  General Styles
===============*/

  .label-box,
  .title {
    margin-bottom: 1rem;
  }

  .label-box {
    display: flex;
    align-items: center;
    gap: calc(15rem / 16);
  }

  /* Perfil Image */
  .img-perfil {
    background-size: cover;
    min-height: calc(40rem / 16);
    min-width: calc(40rem / 16);
    border-radius: 50%;
    border: 2px solid var(--clr-neutral-light-gray);
  }

  /* Info - Spans */
  .info {
    display: flex;
    flex-direction: column;
  }

  .card-one .span,
  .card-two .span,
  .card-four .span {
    color: var(--crl-primary-white);
  }

  .span-status {
    opacity: .5;
  }

/* Titles & Paragraphs */
  .title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .title-one,
  .title-two,
  .title-four {
    color: var(--crl-primary-white);
  }

  .paragraph {
    font-weight: 500;
    color: var(--clr-primary-very-dark-grayish-blue);
    line-height: 1.3rem;
  }

  .paragraph-one,
  .paragraph-two,
  .paragraph-four {
    color: var(--clr-neutral-light-gray);
  }

/* ============
  Cards Numbers
===============*/

  /* Card one */
    .card-one {
      grid-column: 1 / 3;
      position: relative;
      z-index: 1;
      background-color: var(--clr-primary-moderate-violet);
    }

    .img-perfil-one {
      background-image: url("../images/image-daniel.jpg");
    }

    /* Background image */
    .bg-img-card {
      z-index: -1;
      position: absolute;
      right: 2rem;
      
      min-height: calc(100rem / 16);
      min-width: calc(100rem / 16);
      
      background-image: url("../images/bg-pattern-quotation.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

  /* Card two */
    .card-two {
      grid-column: 3;
      background-color: var(--clr-primary-very-dark-grayish-blue);
    }

    .img-perfil-two {
      background-image: url("../images/image-jonathan.jpg");
    }

  /* Card Three */
    .card-three {
      grid-row: 2;
      grid-column: 1;
      background-color: var(--crl-primary-white);
    }

    .img-perfil-three {
      background-image: url("../images/image-jeanette.jpg");
    }

  /* Card four */
    .card-four {
      grid-column: 2 / 4;
      background-color: var(--clr-primary-very-dark-blackish-blue);
    }

    .img-perfil-four {
      background-image: url("../images/image-patrick.jpg");
    }

  /* Card five */
    .card-five {
      grid-column: 4;
      grid-row: 1 / 3;
      background-color: var(--crl-primary-white);
    }

    .img-perfil-five {
      background-image: url("../images/image-kira.jpg");
    }

/* ============
    Footer
===============*/
  .attribution {
    font-size: 1rem;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }